@import "tailwindcss";

#image{
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0004);
}

#settings{
    background-image: url(./images/setting-img.jpg);
    background-position: center;
    background-size: cover;
}

.bg-gradient {
  background: linear-gradient(
    275deg,
    rgba(13, 26, 41, 0.9),
    rgba(23, 58, 83, 0.9),
    rgba(35, 94, 124, 0.9)
  );
}

